.App-logo {
  height: 30vmin;
  pointer-events: none;
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.nav {
  height: 10vmin;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav a, .post-link a {
  color: #61dafb;
}

.page-content {
  position: relative;
  z-index: 1;
  color: #61dafb;
}

.page-content h1 {
  margin: 0;
}

.page-content h1:not(:last-child) {
  margin-right: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
