.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.nav {
  height: 10vmin;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav a,
.post-link a,
.profile-link a {
  color: #61dafb;
}

.page-content {
  position: relative;
  z-index: 1;
  color: #61dafb;
}

.page-content h1 {
  margin: 0;
}

.page-content h1:not(:last-child) {
  margin-right: 24px;
}

.query-content p {
  text-indent: 2rem;
}

.login-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.login-bar p {
  text-align: left;
  width: 270px;
  font-size: calc(10px + 1vmin);
  color: #61dafb;
}

.login-bar button {
  text-transform: uppercase;
  outline: 0;
  background: #61dafb;
  width: 270px;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-bar button:hover,
.login-bar button:active {
  background: #61cbf8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
